body {
  color: #2e2f42;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

/* Container */
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Logo */
.logo {
  text-decoration: none;
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

.logo-title {
  margin-right: 76px;
}

.logo-text {
  color: #4d5ae5;
}

/* Header */

.page-header {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}
.page-portfolio {
  margin-bottom: 100px;
}
.nav .list-page {
  display: flex;
}

.page-header .list-info {
  display: flex;
  margin-left: auto;
}

.list-page .link {
  color: #2e2f42;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.5;
}

.list-info .link {
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.link:hover,
.link:focus {
  color: #4d5ae5;
}

.list-page .link-active {
  color: #404bbf;
}

.list-page .list-item:not(:last-child) {
  margin-right: 40px;
}

.list-info .list-item:not(:last-child) {
  margin-right: 40px;
}

/* Hero */
.hero {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  padding: 188px 472px;

  background-color: #2e2f42;
  background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7)),
    url('../image/people_office.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero-title {
  margin-bottom: 40px;

  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.1;
}

/* Button */
.hero .button {
  text-align: center;
  padding: 16px 32px;
  min-width: 170px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
}

.hero .button:hover,
.hero .button:focus {
  background-color: #404bbf;

  cursor: pointer;
}

/* Section */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-services {
  padding-bottom: 0;
}
.list-section {
  display: flex;
}

.list-section .item:not(:last-child) {
  margin-right: 24px;
}

.title {
  margin-bottom: 72px;

  font-size: 36px;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  line-height: 1.5;
}

.text {
  color: #434455;
  line-height: 1.5;
  margin: 0;
}

/* section of services */
.subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.icon-service {
  width: 264px;
  height: 112px;

  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 8px;

  background-color: #f4f4fd;
  border-radius: 4px;
}

/* Our Team */

.section-team {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-color: #f4f4fd;
}

.section-team .item {
  background-color: #ffffff;
  text-align: center;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.section-team .subtitle {
  margin-top: 32px;
  margin-bottom: 8px;
}

.section-team .text {
  margin-bottom: 8px;
}

.social-media {
  display: flex;

  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
}
.social-link {
  display: block;
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  background: #4d5ae5;
}

.social-link:hover,
.social-link:focus {
  background-color: #31d0aa;
}
.social-list:not(:last-child) {
  margin-right: 24px;
}

/* Custumers */

.list-custumers {
  display: flex;
  justify-content: center;
}
.link-custumer {
  display: block;
  width: 168px;
  height: 88px;
  fill: #404bbf;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border: 1px solid #404bbf;
  border-radius: 4px;
}
.link-custumer:hover,
.link-custumer:focus {
  border: 1px solid #31d0aa;
  fill: #31d0aa;
}

.item-custumer:not(:last-child) {
  margin-right: 24px;
}

/* Filter */

.lists-button {
  display: flex;
  justify-content: center;

  margin-top: 0;
  margin-bottom: 72px;
}

.lists-button .item:not(:last-child) {
  margin-right: 24px;
}

.lists-button .button {
  color: #4d5ae5;
  background-color: #f4f4fd;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.lists-button .button:hover,
.lists-button .button:focus {
  color: #ffffff;
  background-color: #404bbf;

  cursor: pointer;
}

/* Cards */

.card-set {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  margin-right: 24px;
  margin-bottom: 48px;
}

.card-item:nth-last-child(-n + 3) {
  margin-bottom: 120px;
}

.card-item:nth-child(3n) {
  margin-right: 0;
}

.card-item .subtitle {
  margin-bottom: 8px;
}

.card-content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-bottom: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}

/* footer */
.footer {
  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;
  background-color: #2e2f42;
}

.text-footer {
  color: #f4f4fd;
}

.logo-footer {
  color: #f4f4fd;
}
.footer-item {
  display: flex;
  align-items: center;
  gap: 120px;

  padding-top: 100px;
  padding-bottom: 100px;
}
.media-footer {
  padding: 0;
}
